* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

/* header start */

header {
  align-items: center;
}

.container {
  margin: 50px 140px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav h1 {
  color: #150b2b;
  font-size: 32px;
  font-weight: 600;
}
.nav ul {
  display: flex;
  gap: 25px;
}
.nav ul li {
  list-style: none;
}

.nav ul li a {
  text-decoration: none;
  color: #150b2bb3;
}

.input {
  border-radius: 25px;
  padding: 12px 24px;
  border: none;
  background-color: #150b2b0d;
  margin-right: 10px;
}
.input i {
  align-items: center;
  color: #150b2bb3;
}
.search {
  border: none;
  background-color: transparent;
  padding-left: 8px;
  font-size: 16px;
}
.searchbar {
  display: flex;
  align-items: center;
}
.search:focus-visible {
  outline: 0;
}

/* header end */

/* banner start */

.container {
  color: #fff;
  text-align: center;
}

.background {
  background-image: url(img/banner.png);
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner h1 {
  font-size: 52px;
  font-weight: 600px;
  margin-bottom: 24px;
}
.banner p {
  font-size: 18px;
  margin-bottom: 40px;
}
.btn-primary {
  color: #150b2b;
  background-color: #0be58a;
  border-radius: 50px;
  padding: 20px 35px;
  border: none;
  margin-right: 24px;
  font-size: 20px;
  font-weight: 500;
}
.btn-2 {
  color: #fff;
  background-color: transparent;
  border-radius: 50px;
  padding: 20px 35px;
  border: 1px solid #fff;
  margin-right: 24px;
  font-size: 20px;
  font-weight: 500;
}
/* banner end */
